.blogPreview {
	.mySwiper2 {
		padding-bottom: 48px;
	}

	span.swiper-pagination-bullet {
		background: #efe7da;
		opacity: 1;
		transition-duration: 200ms;
		margin: 0px !important;
	}
	span.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
		margin: 0px !important;
		width: 6px !important;
		height: 6px !important;
	}

	.swiper-pagination-bullet-active {
		background: #b8a27b !important;
		width: 28px !important;
		height: 6px !important;
		border-radius: 40px;
		margin: 0px 1px !important;
	}

	.swiper-pagination {
		display: flex;
		position: relative !important;
		top: 23px !important;
		gap: 4px;
		justify-content: center;
	}
}
