@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../tailwind/components.css";
@font-face {
	font-family: peyda;
	font-style: normal;
	font-weight: 100;
	src: url("../../public/fonts/peyda/woff/peydaWeb-extralight.woff") format("woff");
}
@font-face {
	font-family: peyda;
	font-style: normal;
	font-weight: 200;
	src: url("../../public/fonts/peyda/woff/peydaWeb-light.woff") format("woff");
}
@font-face {
	font-family: peyda;
	font-style: normal;
	font-weight: 300;

	src: url("../../public/fonts/peyda/woff/PeydaWeb-Thin.woff") format("woff");
}
@font-face {
	font-family: peyda;
	font-style: normal;
	font-weight: 400;

	src: url("../../public/fonts/peyda/woff/PeydaWeb-Regular.woff") format("woff");
}
@font-face {
	font-family: peyda;
	font-style: normal;
	font-weight: 500;
	src: url("../../public/fonts/peyda/woff/PeydaWeb-Medium.woff") format("woff");
}
@font-face {
	font-family: peyda;
	font-style: normal;
	font-weight: 600;
	src: url("../../public/fonts/peyda/woff/PeydaWeb-SemiBold.woff") format("woff");
}
@font-face {
	font-family: peyda;
	font-style: normal;
	font-weight: 700;
	src: url("../../public/fonts/peyda/woff/PeydaWeb-Bold.woff") format("woff");
}
@font-face {
	font-family: peyda;
	font-style: normal;
	font-weight: 800;

	src: url("../../public/fonts/peyda/woff/PeydaWeb-ExtraBold.woff") format("woff");
}
@font-face {
	font-family: peyda;
	font-style: normal;
	font-weight: 900;

	src: url("../../public/fonts/peyda/woff/PeydaWeb-Black.woff") format("woff");
}
@font-face {
	font-family: yakanBakh;
	font-style: normal;
	font-weight: 100;
	src: url("../../public/fonts/Yekan Bakh EN 01 Hairline.eot");
	src:
		url("../../public/fonts/Yekan Bakh EN 01 Hairline.eot?#iefix") format("embedded-opentype"),
		/* IE6-8 */ url("../../public/fonts/Yekan Bakh EN 01 Hairline.woff2") format("woff2"),
		/* FF39+,Chrome36+, Opera24+*/ url("../../public/fonts/Yekan Bakh EN 01 Hairline.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: yakanBakh;
	font-style: normal;
	font-weight: 200;
	src: url("../../public/fonts/Yekan Bakh EN 02 Thin.eot");
	src:
		url("../../public/fonts/Yekan Bakh EN 02 Thin.eot?#iefix") format("embedded-opentype"),
		/* IE6-8 */ url("../../public/fonts/Yekan Bakh EN 02 Thin.woff2") format("woff2"),
		/* FF39+,Chrome36+, Opera24+*/ url("../../public/fonts/Yekan Bakh EN 02 Thin.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: yakanBakh;
	font-style: normal;
	font-weight: 300;
	src: url("../../public/fonts/Yekan Bakh EN 03 Light.eot");
	src:
		url("../../public/fonts/Yekan Bakh EN 03 Light.eot?#iefix") format("embedded-opentype"),
		/* IE6-8 */ url("../../public/fonts/Yekan Bakh EN 03 Light.woff2") format("woff2"),
		/* FF39+,Chrome36+, Opera24+*/ url("../../public/fonts/Yekan Bakh EN 03 Light.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: yakanBakh;
	font-style: normal;
	font-weight: 400;
	src: url("../../public/fonts/Yekan Bakh EN 04 Regular.eot");
	src:
		url("../../public/fonts/Yekan Bakh EN 04 Regular.eot?#iefix") format("embedded-opentype"),
		/* IE6-8 */ url("../../public/fonts/Yekan Bakh EN 04 Regular.woff2") format("woff2"),
		/* FF39+,Chrome36+, Opera24+*/ url("../../public/fonts/Yekan Bakh EN 04 Regular.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: yakanBakh;
	font-style: normal;
	font-weight: 500;
	src: url("../../public/fonts/Yekan Bakh EN 05 Medium.eot");
	src:
		url("../../public/fonts/Yekan Bakh EN 05 Medium.eot?#iefix") format("embedded-opentype"),
		/* IE6-8 */ url("../../public/fonts/Yekan Bakh EN 05 Medium.woff2") format("woff2"),
		/* FF39+,Chrome36+, Opera24+*/ url("../../public/fonts/Yekan Bakh EN 05 Medium.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: yakanBakh;
	font-style: normal;
	font-weight: 600;
	src: url("../../public/fonts/Yekan Bakh EN 06 Bold.eot");
	src:
		url("../../public/fonts/Yekan Bakh EN 06 Bold.eot?#iefix") format("embedded-opentype"),
		/* IE6-8 */ url("../../public/fonts/Yekan Bakh EN 06 Bold.woff2") format("woff2"),
		/* FF39+,Chrome36+, Opera24+*/ url("../../public/fonts/Yekan Bakh EN 06 Bold.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: yakanBakh;
	font-style: normal;
	font-weight: 700;
	src: url("../../public/fonts/Yekan Bakh EN 07 Heavy.eot");
	src:
		url("../../public/fonts/Yekan Bakh EN 07 Heavy.eot?#iefix") format("embedded-opentype"),
		/* IE6-8 */ url("../../public/fonts/Yekan Bakh EN 07 Heavy.woff2") format("woff2"),
		/* FF39+,Chrome36+, Opera24+*/ url("../../public/fonts/Yekan Bakh EN 07 Heavy.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
	font-family: yakanBakh;
	font-style: normal;
	font-weight: 800;
	src: url("../../public/fonts/Yekan Bakh EN 08 Fat.eot");
	src:
		url("../../public/fonts/Yekan Bakh EN 08 Fat.eot?#iefix") format("embedded-opentype"),
		/* IE6-8 */ url("../../public/fonts/Yekan Bakh EN 08 Fat.woff2") format("woff2"),
		/* FF39+,Chrome36+, Opera24+*/ url("../../public/fonts/Yekan Bakh EN 08 Fat.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: yakanBakh;
	font-style: normal;
	font-weight: normal;
	src: url("../../public/fonts/Yekan Bakh EN 04 Regular.eot");
	src:
		url("../../public/fonts/Yekan Bakh EN 04 Regular.eot?#iefix") format("embedded-opentype"),
		/* IE6-8 */ url("../../public/fonts/Yekan Bakh EN 04 Regular.woff2") format("woff2"),
		/* FF39+,Chrome36+, Opera24+*/ url("../../public/fonts/Yekan Bakh EN 04 Regular.woff") format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
	font-family: Morabba;
	font-style: normal;
	font-weight: 100;
	src:
		url("../../public/fonts/Morabba-UltraLight.woff") format("woff"),
		url("../../public/fonts/Morabba-UltraLight.woff2") format("woff2");
}
@font-face {
	font-family: Morabba;
	font-style: normal;
	font-weight: 200;
	src:
		url("../../public/fonts/Morabba-Light.woff") format("woff"),
		url("../../public/fonts/Morabba-Light.woff2") format("woff2");
}
@font-face {
	font-family: Morabba;
	font-style: normal;
	font-weight: 300;
	src:
		url("../../public/fonts/Morabba-Regular.woff") format("woff"),
		url("../../public/fonts/Morabba-Regular.woff2") format("woff2");
}
@font-face {
	font-family: Morabba;
	font-style: normal;
	font-weight: 400;
	src:
		url("../../public/fonts/Morabba-Medium.woff") format("woff"),
		url("../../public/fonts/Morabba-Medium.woff2") format("woff2");
}
@font-face {
	font-family: Morabba;
	font-style: normal;
	font-weight: 500;
	src:
		url("../../public/fonts/Morabba-SemiBold.woff") format("woff"),
		url("../../public/fonts/Morabba-SemiBold.woff2") format("woff2");
}
@font-face {
	font-family: Morabba;
	font-style: normal;
	font-weight: 600;
	src:
		url("../../public/fonts/Morabba-Bold.woff") format("woff"),
		url("../../public/fonts/Morabba-Bold.woff2") format("woff2");
}
@font-face {
	font-family: Morabba;
	font-style: normal;
	font-weight: 700;
	src:
		url("../../public/fonts/Morabba-ExtraBold.woff") format("woff"),
		url("../../public/fonts/Morabba-ExtraBold.woff2") format("woff2");
}
@font-face {
	font-family: Morabba;
	font-style: normal;
	font-weight: 800;
	src:
		url("../../public/fonts/Morabba-Black.woff") format("woff"),
		url("../../public/fonts/Morabba-Black.woff2") format("woff2");
}
@font-face {
	font-family: Morabba;
	font-style: normal;
	font-weight: 900;
	src:
		url("../../public/fonts/Morabba-Heavy.woff") format("woff"),
		url("../../public/fonts/Morabba-Heavy.woff2") format("woff2");
}

.peyda {
	font-family: peyda !important;
}

.peyda * {
	font-family: peyda !important;
}

* {
	margin: 0px;
	padding: 0px;
	font-family: yakanBakh !important;
	box-sizing: border-box;
	direction: rtl;
	letter-spacing: 0.4px !important;
}

body {
	overflow-x: hidden;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateX(20px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.fade-in {
	animation: fadeIn 0.8s ease forwards;
}

.after-dark::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.479);
	top: 0px;
	left: 0px;
	z-index: 1;
}
.after-dark-vid::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.479);
	top: 0px;
	border-radius: 12px;
	left: 0px;
	z-index: 1;
}
.after-dark-need:after {
	content: "";
	width: 100%;
	height: 100%;
	background-image: linear-gradient(0deg, transparent, #0532514a, #053251de, #053251db);
	position: absolute;
	top: 0px;
	left: 0px;
}

.box-handle {
	box-shadow: 3px 4px 7px 2px #00000005;
	background: #f9f9f9;
	border: 1px solid #ededed;
}

.after-bg::after {
	content: "";
	width: 100%;
	height: 100%;
	background: black;
	opacity: 80%;
	position: absolute;
	top: 0px;
	left: 0px;
}

.container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 640px) {
	.container {
		max-width: 640px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}
@media (min-width: 1024px) {
	.container {
		max-width: 984px !important;
	}
}
@media (min-width: 1280px) {
	.container {
		max-width: 1200px !important;
	}
}
@media (min-width: 1536px) {
	.container {
		max-width: 1300px !important;
	}
}
.dir-ltr,
.dir-ltr * {
	direction: ltr !important;
}
.dir-rtl,
.dir-rtl * {
	direction: rtl !important;
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

@keyframes heroScroll {
	0% {
		opacity: 0;
		top: 8px;
	}

	30% {
		opacity: 1;
		top: 44px;
	}
	100% {
		opacity: 1;
		top: 44px;
	}
}

.hero-scroll {
	animation: heroScroll 2.5s ease-in-out infinite;
}

.taban-scroll {
	&::-webkit-scrollbar {
		width: 6px;
	}
	overflow-y: auto;

	/* Track */
	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 5px rgb(184, 184, 184);
		border-radius: 6px;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: rgb(136, 136, 136);
		border-radius: 6px;
	}

	/* Handle on hover */
	&::-webkit-scrollbar-thumb:hover {
		background: rgb(114, 114, 114);
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
