.taban-autocomplete {
	.list-ul {
		&::-webkit-scrollbar {
			width: 6px;
		}

		/* Track */
		&::-webkit-scrollbar-track {
			box-shadow: inset 0 0 5px rgb(184, 184, 184);
			border-radius: 6px;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: rgb(136, 136, 136);
			border-radius: 6px;
		}

		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
			background: rgb(114, 114, 114);
		}
	}
}
