@keyframes glowing {
    0% {
      transform: scale(1);
      opacity: 1;
      filter: blur(0px);
    }
    50% {
      transform: scale(4.5);
      opacity: 1;
      filter: blur(0px);
    }
    100% {
      transform: scale(1);
      opacity: 1;
      filter: blur(0px);
    }
  }
@keyframes glowing2 {
    0% {
      background: #b8a27c;
    }
    50% {
        background: #b8a27c;
    }
    100% {
        background: #b8a27c;
    }
  }
  
  .glowing {
    position: relative;
    animation: glowing2 3s ease-in-out infinite;
  }

  .glowing:after{
    content: "";
    position: absolute;
    transform: scale(0);
    top: 0px;
    left: 0px;
    width: 8px;
    height: 8px;
    border-radius: 40px;
    background: #b8a27c60;
    animation: glowing 3s ease-in-out infinite;
  }
  