.swiper-button-next:after {
    color: #4f4f4f;
    font-size: 25px !important;
    position: relative;
    left: -14px;
    font-weight: 700;
}

.swiper-button-prev:after {
    color: #4f4f4f;
    font-size: 25px !important;
    position: relative;
    right: -14px;
    font-weight: 700;
}
